
@url parkingFont parkingFont;
@url parkingFontWoff parkingFontWoff;

@font-face {
    font-family: "parkingFont";
    src: parkingFontWoff format('woff'), parkingFont format('truetype');
    font-weight: normal;
    font-style: normal;
}