@external v-touchkit-popover, v-window-wrap, v-touchkit-popover-pointer-bottom, v-touchkit-relative, tickettitle, inforowlayout, inforowvalue, ticketinfolayout, inforowtitle, ticketlayout, ticketimage, closelabel, imagepanel, v-touchkit-verticalcomponentgroup, leaflet-bottom, v-window-ticketdetail, v-touchkit-navbar, mapview, v-button-wrap, locatebutton;

.mapview {
	padding: 0 !important;
}

.mapview .locatebutton {
	position: absolute;
	top: 10px;
	right: 10px;
	background: #00b4f0;
	border: none;
	border-radius: 2px;
	-webkit-box-shadow: none;
}

.mapview .locatebutton .v-button-wrap {
	background: transparent;
	-webkit-box-shadow: none;
	padding-top: 1px;
	border-radius: 4px;
}


.mapview .locatebutton .v-button-wrap:BEFORE{
	font-family: parkingFont;
	content: "\e00A";
	color: #fff;
	position: absolute;
	left: 3px;
	top: -8px;
	font-size: 24px;
	font-weight: normal;
	text-shadow: none;
}

.v-touchkit-popover.v-touchkit-relative .v-window-wrap {
	background: none;
	border: none;
	-webkit-box-shadow: none;
}



.v-touchkit-popover-pointer-bottom {
	background: none;
}

.v-touchkit-popover .tickettitle {
	color: #78776d;
}

.v-touchkit-popover .ticketlayout {
	padding: 10px 0;
	float: left;
	width: 100%;
	margin-bottom: 30px;
}

.v-touchkit-popover .ticketimage {
	float: left;
}

.v-touchkit-popover .imagepanel {
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.v-touchkit-popover .ticketinfolayout{
	float: left;
}

.v-touchkit-popover .inforowlayout{
	padding-left: 12px;
	padding-bottom: 5px;
}

.v-touchkit-popover .inforowtitle {
	color: #a09f91;
	font-size: 15px;
}
.v-touchkit-popover .inforowvalue {
	color: #64635a;
	font-size: 15px;
}

.v-touchkit-popover .closelabel {
	margin-top: 10px;
}

.v-touchkit-popover .v-touchkit-verticalcomponentgroup {
	margin-bottom: 0;
}

.v-window-ticketdetail {
	box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.3);
}