@external shiftstab, maptab, ticketstab, statstab, v-caption, v-captiontext, v-button-caption, v-button-wrap, v-touchkit-tabbar, v-touchkit-tabbar-wrapper, v-touchkit-tabbar-toolbar, v-button, selected, v-ui, v-csslayout, v-touchkit-navbar-caption, parkingbutton, blue, textcentered, v-touchkit-navpanel-container, v-app, v-touchkit-offlinemode, v-touchkit-navbar-left, v-touchkit-navbar, v-qrcode, v-window-contents, v-window-closebox, qr-code, v-touchkit-toolbar, v-touchkit-navbutton-back, v-touchkit-navbutton, v-touchkit-popover, v-scrollable; 

@def darkText #3d3f41;

.v-app,
.v-touchkit-navpanel-container,
.v-touchkit-offlinemode {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9f9f6), to(#ebebe8));
}

a {
	color: #00b4f0 !important;
	text-decoration: none;
}

.v-touchkit-popover {
	background: #000;
}

.v-touchkit-toolbar {
   font-family: parkingFont;
}


/* Sizing etc for tab icons */
.v-touchkit-tabbar {
	padding: 0;
}

.v-touchkit-tabbar-wrapper {
	bottom: 60px;
}

.v-touchkit-tabbar-toolbar .v-touchkit-toolbar {
	background: #fcfcfb;
	height: 60px;
}

.v-touchkit-tabbar-toolbar .v-button:before {
	color: #a09f91;
	position: absolute;
	left: 0;
	right: 0;
	font-size: 27px;
	text-shadow: none;
}
.v-touchkit-tabbar-toolbar .v-button.selected:before {
	color: #00b4f0;
}

/*
 * Main Tab sheets icons via css
 */
.v-touchkit-tabbar-toolbar .ticketstab:before {
	content: "\e003";
}

.v-touchkit-tabbar-toolbar .maptab:before {
	content: "\e007";
}

.v-touchkit-tabbar-toolbar .shiftstab:before {
	content: "\e002";
}

.v-touchkit-tabbar-toolbar .statstab:before {
	content: "\e00C";
}

.v-touchkit-tabbar-toolbar .v-button {
	width: 80px !important;
	height: 100% !important;
	border-radius: 0 !important;
	position: absolute !important;
	left: 50%;
	box-sizing: border-box;
}

.v-touchkit-tabbar-toolbar .v-button-caption {
	font-size: 12px;
	bottom: 0;
	font-weight: normal;
}

.v-touchkit-tabbar-toolbar .v-button-wrap:AFTER {
	background: transparent !important;
}

.v-touchkit-tabbar-toolbar .v-button.ticketstab {
	border-left: 1px solid #e7e7e7;
}

.v-touchkit-tabbar-toolbar .v-button.ticketstab {
	margin-left: -160px;
}

.v-touchkit-tabbar-toolbar .v-button.maptab {
	margin-left: -80px;
}

.v-touchkit-tabbar-toolbar .v-button.statstab {
	margin-left: 80px;
	border-right: 1px solid #e7e7e7;
}

.v-touchkit-tabbar-toolbar .v-button span {
	color: #a09f91;
	text-shadow: none;
	margin-bottom: 9px;
}
.v-touchkit-tabbar-toolbar .v-button.selected span {
	color: #00b4f0;
}

/*
 * Common styles
 */
.v-touchkit-navbutton-back,
.v-touchkit-navbutton-back:ACTIVE,
.v-touchkit-navbar .v-button {
	background: #00b4f0;
}

.v-touchkit-navbutton-back,
.v-touchkit-navbar .v-button-caption {
	color: #fff;
	letter-spacing: 1px;
}

.v-touchkit-navbutton-back {
	margin-left: 10px;
	overflow: visible;
}

.v-touchkit-navbutton-back:BEFORE {
	content: "";
	position: absolute;
	left: -24px;
	border: 15px solid transparent;
	border-right-color: #00b4f0;
	width: 0;
	height: 0;
	border-right-width: 10px;
}

.v-touchkit-navbutton-back:AFTER {
	content: none;
}

.v-touchkit-navbar-caption span {
	color: #00b4f0;
	font-size: 25px;
}

.parkingbutton {
	outline: none;
}

.blue {
	color: #00b4f0;
}

.textcentered {
	text-align: center;
}

/*
 * Components
 */
select {
	outline: none;
}

/* QR code popup */
.v-app .qr-code {
	background: transparent;
	color: #fff;
}

.qr-code .v-window-contents {
	background: transparent;
}

.qr-code .v-window-closebox {
	top: auto;
	bottom: 14px;
	right: auto;
	left: 190px;
	background: transparent;
	width: auto;
	height: auto;
	padding: .3em 0;
	border-bottom: 1px solid #FFF;
	z-index: 100;
}

.qr-code .v-window-closebox:before {
	content: "OK, show me the demo anyway";
}

.qr-code .v-caption {
    float: right;
    width: 310px;
}

.v-app .qr-code .v-captiontext {
    color: #fff;
    font-weight: bold;
    line-height: 1.4;
    margin: 0;
    white-space: normal;
}

.qr-code .v-qrcode {
	-webkit-box-shadow: 0 2px 8px #000;
	box-shadow: 0 2px 8px #000;
}
