@external shiftstab, maptab, ticketstab, statstab, v-caption, v-touchkit-componentgroup-cell, v-touchkit-componentgroup-row, v-button-caption, v-button-wrap, v-touchkit-tabbar-toolbar, v-button, selected, v-ui, v-csslayout, v-touchkit-verticalcomponentgroup, v-touchkit-navbar-caption, parkingbutton, blue, textcentered, v-touchkit-navpanel-container, v-app, v-touchkit-offlinemode, v-label-grey-title, v-touchkit-datepicker, v-touchkit-navbar-right, v-touchkit-navbar-left, v-touchkit-navbar, v-label, qrcode-image, v-window-closebox, qr-code, v-touchkit-toolbar, v-touchkit-navbutton-back, v-touchkit-navbutton, v-touchkit-popover, v-touchkit-tabbar, v-scrollable; 

@def darkText #3d3f41;

.v-app,
.v-touchkit-navpanel-container,
.v-touchkit-offlinemode {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9f9f6), to(#ebebe8));
}

.v-app .v-touchkit-navbar-left .v-touchkit-navbutton {
  -webkit-border-image: none;
}
/*
 * Main Tab sheets icons via css
 */
.v-scrollable{
  -webkit-overflow-scrolling: touch;
}

a {
	color: #00b4f0 !important;
	text-decoration: none;
}
 
.v-touchkit-popover {
	background: #000;
}
 
.v-touchkit-toolbar {
   font-family: parkingFont;
}


/* Sizing etc for tab icons */
.v-touchkit-tabbar {
	padding-bottom: 62px;
}

.v-touchkit-tabbar-toolbar .v-csslayout {
	background: #fcfcfb;
	padding: 0;
	box-shadow: 0px 0px 5px #888888;
	border-top: none;
	height: 60px;
}

.v-touchkit-tabbar-toolbar .v-button:before {
	color: #a09f91;
	position: absolute;
	left: 0;
	right: 0;
	top: 7px;
	font-size: 27px;
	text-shadow: none;
}
.v-touchkit-tabbar-toolbar .v-button.selected:before {
	color: #00b4f0;
}

.v-touchkit-tabbar-toolbar .ticketstab:before {
	content: "\e003";
}
.v-touchkit-tabbar-toolbar .maptab:before {
	content: "\e007";
}
.v-touchkit-tabbar-toolbar .shiftstab:before {
	content: "\e002";
}
.v-touchkit-tabbar-toolbar .statstab:before {
	content: "\e00C";
}

.v-touchkit-tabbar-toolbar .v-button {
	width: 80px !important;
	border-right: 1px solid #e7e7e7;
	height: 100% !important;
	border-radius: 0 !important;
	position: absolute !important;
	left: 50%;
	box-sizing: border-box;
}

.v-touchkit-tabbar-toolbar .v-button-caption {
	font-size: 12px;
	bottom: 0;
	font-weight: normal;
}

.v-touchkit-tabbar-toolbar .v-button-wrap:AFTER {
	background: transparent !important;
}

.v-touchkit-tabbar-toolbar .v-button.ticketstab {
	border-left: 1px solid #e7e7e7;
}

.v-touchkit-tabbar-toolbar .v-button.ticketstab {
	margin-left: -160px;
}
.v-touchkit-tabbar-toolbar .v-button.maptab {
	margin-left: -80px;
}
.v-touchkit-tabbar-toolbar .v-button.statstab {
	margin-left: 80px;
}

.v-touchkit-tabbar-toolbar .v-button.selected {
	background: #fff;
}

.v-touchkit-tabbar-toolbar .v-button span {
	color: #a09f91;
	text-shadow: none;
	margin-bottom: 9px !important;
}
.v-touchkit-tabbar-toolbar .v-button.selected span {
	color: #00b4f0;
}

/*
 * Common styles
 */
.v-touchkit-verticalcomponentgroup {
	border-radius: 0;
	box-shadow: 0 1px rgba(0,0,0,0.1);
	border: 1px solid #dadada;
	border-bottom-color: #c2c2c2;
}

.v-touchkit-navbutton-back,
.v-touchkit-navbutton-back:ACTIVE,
.v-touchkit-navbar .v-button {
	background: #00b4f0;
	border: none;
	border-radius: 2px;
}
.v-touchkit-navbar .v-button-wrap {
	background: transparent;
	-webkit-box-shadow: none;
	padding-top: 1px;
}
.v-touchkit-navbutton-back,
.v-touchkit-navbar .v-button-caption {
	color: #fff;
	text-shadow: none;
	font-weight: normal;
	letter-spacing: 1px;
}

.v-touchkit-navbutton-back {
	margin-left: 10px;
	overflow: visible;
}
.v-touchkit-navbutton-back:BEFORE {
	content: "";
	position: absolute;
	left: -24px;
	border: 15px solid transparent;
	border-right-color: #00b4f0;
	width: 0;
	height: 0;
	border-right-width: 10px;
}

.v-touchkit-navbar-caption span {
	color: #00b4f0;
	font-weight: normal;
	font-size: 25px;
}

.parkingbutton {
	font-size: 16px;
	padding: 16px 0;
	outline: none;
}

.blue {
	color: #00b4f0;
}

.textcentered {
	text-align: center;
}

/*
 * Components
 */
select {
	font-size: 16px;
	background: #fff;
	-webkit-appearance: button;
	border: none;
	outline: none;
	color: #64635a;
}

input,
textarea {
	outline: none;
	color: #64635a !important;
	font-size: 18px;
	border: none;
	margin: 10px 0 !important;
	-webkit-appearance: none;
}

.v-touchkit-componentgroup-row .v-touchkit-componentgroup-cell,
.v-label-grey-title {
	color: #64635a !important;
	font-weight: normal;
	text-shadow: none;
}

.v-touchkit-componentgroup-row > .v-caption,
.v-label-grey-title:FIRST-CHILD {
	color: #a09f91 !important;
	font-weight: normal;
	text-shadow: none;
	margin: 14px 0;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.v-touchkit-datepicker {
	margin: 10px 0;
}

.v-touchkit-datepicker > input{
	-webkit-appearance: button;
	padding-left: 0;
	margin: 0 !important;
}

.v-touchkit-datepicker > div{
	margin: 0;
	min-width: 100px;
}


.v-touchkit-datepicker .v-button,
.v-touchkit-datepicker .v-button-wrap,
.v-touchkit-datepicker .v-button-wrap:AFTER,
.v-touchkit-datepicker .v-button-caption {
	background: transparent !important;
	-webkit-box-shadow: none;
	color: #64635a;
	text-shadow: none;
	padding-left: 0;
	font-weight: normal;
	font-size: 18px;
}

.v-touchkit-datepicker .v-button-caption,
.v-touchkit-datepicker .v-button-wrap {
	line-height: 20px;
	height: 20px;
}

.v-touchkit-navbutton:after {
	content: "\e006";
	font-family: parkingFont;
	background: transparent;
	color: #00b4f0;
}

/* QR code popup */
.v-app .qr-code {
	background: transparent;
	text-shadow: none;
	color: #fff;
}

.qr-code .v-window-closebox {
	top: auto;
	bottom: 14px;
	right: auto;
	left: 190px;
	background: transparent;
	width: auto;
	height: auto;
	padding: .3em 0;
	white-space: nowrap;
	border-bottom: 1px solid #FFF;
	z-index: 100;
}

.qr-code .v-window-closebox:before {
	content: "OK, show me the demo anyway";
}

.qr-code .qrcode-image {
	-webkit-box-shadow: 0 2px 8px #000;
	box-shadow: 0 2px 8px #000;
	float: left;
}

.qr-code .v-label {
	font-weight: bold;
	line-height: 1.4;
	float: right;
}
