@external v-ui, shifts, v-csslayout, shiftstable, shiftsfilter, v-table-sort-indicator, v-table-caption-container, v-table-header-wrap, v-table-cell-content, v-table-row, v-table-row-odd, v-table-cell-wrapper, v-table-header, v-table-resizer, v-table-body-wrapper, editfiltersbutton, filtersview, v-touchkit-navbutton, v-table-header-cell-asc, v-table-header-cell-desc;

/*
 * Shifts view
 */
.shifts .v-csslayout {
	padding: 0;
}

.shifts .shiftstable {
	width: 100%;
	float: left;
}

.shifts .editfiltersbutton {
	margin-bottom: 0;
}
.editfiltersbutton .v-touchkit-navbutton:active{
	background: #fff !important;
	color: #64635a !important;
	text-shadow: none !important;
}

.v-ui[width-range~="801px-"] .shifts .shiftstable {
    width: 65% !important;
}

.shifts .shiftsfilter {
	width: 100%;
	float: left;
	display: none;
}

.shifts .filtersview .shiftsfilter {
	display: block;
}

.v-ui[width-range~="801px-"] .shifts .shiftsfilter {
    width: 35% !important;
    display: block;
}

.v-ui[width-range~="801px-"] .shifts .editfiltersbutton {
	display: none;
}


/*
 * Table style
 */
.shifts .v-table-header-wrap {
	background: #64635a;
}

.shifts .v-table-caption-container {
	color: #fff;
	font-weight: normal;
	text-shadow: none;
	font-size: 14px;
	height: auto;
	padding-top: 15px;
}

.shifts .v-table-header-cell-asc .v-table-sort-indicator,
.shifts .v-table-header-cell-desc .v-table-sort-indicator {
	background: transparent;
	height: 0;
	width: 0;
	border: 6px solid transparent;
	position: relative;
	right: 11px;
}

.shifts .v-table-header-cell-desc .v-table-sort-indicator {
	border-top-color: #fff;
	top: 10px;
}

.shifts .v-table-header-cell-asc .v-table-sort-indicator {
	border-bottom-color: #fff;
	top: 4px;
}

.shifts .v-table-cell-wrapper {
	color: #6b6a61;
}

.shifts .v-table-cell-content {
	border-right-color: transparent;
	padding: 6px;
}

.shifts .v-table-row .v-table-cell-content {
	border-top: 2px solid #f3f3f3;
	font-size: 14px;
}

.shifts .v-table-row-odd .v-table-cell-content {
	border-top: 2px solid #eaeae6;
	font-size: 14px;
}

.shifts .v-table-header-wrap,
.shifts .v-table-header {
    height: auto;
}

.shifts .v-table-resizer {
	height: 45px;
}

.shifts .v-table-body-wrapper {
	overflow-x: hidden !important;
}
