@external stats, statschart, v-ui;

.stats .statschart {
	margin-bottom: 30px;
	margin-top: 10px;
	float: left;
	width: 100%;
}

.v-ui[width-range~="801px-"] .stats .statschart {
	width: 48% !important;
	margin: 10px 1%;
}