@external v-ui, tickets, photolayout, informationlayout, noteslayout, tablet, imagepanel, parkingbutton, v-csslayout, buttonslayout, empty, v-button, v-button-wrap, v-button-caption, sectioncaption, storagedtickets, v-touchkit-tabbar, offlineindicator, v-touchkit-switch-wrapper, v-label-grey-title, invalid, orientation6, orientation8, orientation3, photoinnerlayout;

/*
 * Tickets view
 */
.tickets .offlineindicator {
	padding: 10px;
	margin-top: 30px;
	font-size: 18px;
	color: #64635a;
}

.tickets .sectioncaption {
	padding: 20px 0 3px 15px;
	font-size: 14px;
	color: #cac9b7;
}

.tickets .photolayout {
	float: left;
	width: 100%;
}

.tickets.tablet .photolayout {
	width: 50% !important;
}

.tickets .informationlayout,
.tickets .noteslayout {
	float: right;
	clear: right;
	width: 100%;
}

.tickets.tablet .informationlayout,
.tickets.tablet .noteslayout {
	width: 50% !important;
}


.tickets .noteslayout textarea {
	border: none;
	outline: none;
	font-size: 16px;
}

.tickets .photoinnerlayout {
	float: left;
	width: 100%;
}

.tickets.tablet .photoinnerlayout {
	max-height: 366px;
	min-height: 30px;
}

.tickets .imagepanel {
	height: 150px;
	width: 150px;
	background-repeat: no-repeat;
	margin: 5px 20px 5px 0;
	float: left;
	background-size: 100%;
	background-position: left top;
}

.tickets .imagepanel.orientation6 {
	-webkit-transform:rotate(90deg);
}
.tickets .imagepanel.orientation8 {
	-webkit-transform:rotate(270deg);
}
.tickets .imagepanel.orientation3 {
	-webkit-transform:rotate(180deg);
}

.tickets .buttonslayout {
	padding-left: 20px;
	padding-right: 10px;
}

.tickets.tablet .buttonslayout {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	background: #fff;
}

.tickets.tablet .imagepanel {
	width: 100%;
	height: 306px;
}

.tickets.tablet .imagepanel.orientation6,
.tickets.tablet .imagepanel.orientation8 {
	height: 1em;
	width: 1em;
	background-size: cover;
}

.tickets .photolayout .parkingbutton {
	padding: 28px 40px;
	overflow: hidden;
}

.tickets form.empty .parkingbutton,
.tickets.tablet .photolayout .parkingbutton {
	padding: 16px 0px;
}

.tickets .photolayout .v-csslayout > .parkingbutton {
	border-top: 1px solid #e5e5e5;
}

.tickets.tablet .photolayout .v-csslayout > .parkingbutton {
	border-top: none;
	float: right;
}

.tickets.tablet .photolayout > div {
	width: auto;
	margin-right: 7px;
}
.tickets.tablet .informationlayout > div,
.tickets.tablet .noteslayout > div {
	width: auto;
	margin-left: 7px;
}

.tickets.tablet form {
	float: left;
}

.tickets.tablet form.empty {
	float: none;
}

.tickets .storagedtickets {
	background: #f00;
	font-size: 13px;
	text-align: center;
	border: 2px solid #fff;
	border-radius: 13px;
	line-height: 20px;
	top: 0;
	right: 0;
	position: absolute;
}

.tickets .v-touchkit-tabbar {
	padding-bottom: 0 !important;
}

.tickets .noteslayout {
	margin-bottom: 46px;
}

.tickets .v-touchkit-switch-wrapper {
	margin: 9px 0;
}

.tickets .invalid .v-label-grey-title:FIRST-CHILD {
	color: #e61e6e !important;
}
