/*
 * Parking uses mainly GWT style theme building, that 
 * packages CSS and images compactly into the GWT bundle. This lessens
 * Http requests that browser needs to do and thus makes startup faster.
 * 
 * Learn more from GWT client bundles from : 
 * https://developers.google.com/web-toolkit/doc/latest/DevGuideClientBundle
 */
 
 /* QR code popup */
.v-app .qr-code {
	background: transparent;
	text-shadow: none;
	color: #fff;
}

.qr-code .v-window-closebox {
	top: auto;
	bottom: 14px;
	right: auto;
	left: 190px;
	background: transparent;
	width: auto;
	height: auto;
	padding: .3em 0;
	white-space: nowrap;
	border-bottom: 1px solid #FFF;
	z-index: 100;
}

.qr-code .v-window-closebox:before {
	content: "OK, show me the demo anyway";
}

.qr-code .v-qrcode {
	-webkit-box-shadow: 0 2px 8px #000;
	box-shadow: 0 2px 8px #000;
	float: left;
}

.qr-code .v-spacing {
	width: 30px;
}

.qr-code .v-label {
	font-weight: bold;
	line-height: 1.4;
	float: right;
}
 