@external about, details, shiftstab, maptab, ticketstab, statstab, add, close, v-caption, v-touchkit-componentgroup-cell, v-touchkit-componentgroup-row, v-button-caption, v-button-wrap, v-touchkit-tabbar-toolbar, v-button, selected, v-ui, v-csslayout, v-touchkit-verticalcomponentgroup, v-touchkit-navbar-caption, parkingbutton, blue, textcentered, v-touchkit-navpanel-container, v-app, v-touchkit-offlinemode, v-label-grey-title, v-touchkit-datepicker; 

@def darkText #3d3f41;

@sprite .about {
	gwt-image: "aboutBackground";
	background-color: white;
	width:100%;
	height:auto;
}


.details .v-caption > div {
	margin: 10px 0;
}

.v-app,
.v-touchkit-navpanel-container,
.v-touchkit-offlinemode {
	background: #efefec !important;
}

/*
 * Main Tab sheets icons via css
 */
 
 @sprite .shiftstab:before {
	gwt-image: "shiftstab";
}
 @sprite .maptab:before {
	gwt-image: "maptab";
}
 @sprite .ticketstab:before {
	gwt-image: "ticketstab";
}
 @sprite .statstab:before {
	gwt-image: "statstab";
}

/* Sizing etc for tab icons */
.v-touchkit-tabbar-toolbar .v-csslayout {
	background: #fcfcfb;
	padding: 0;
	box-shadow: 0px 0px 5px #888888;
	border-top: none;
	height: 60px;
}

.v-touchkit-tabbar-toolbar .v-button:before {
	content: ".";
	display:block;
	position:absolute;
	-webkit-background-size: 25px 25px;
	background-position: center top;
	width:auto;
	left:0;
	right:0;
	height: 25px;
}

.v-touchkit-tabbar-toolbar .v-button {
	width: 80px !important;
	border-right: 1px solid #e7e7e7;
	height: 100% !important;
	border-radius: 0 !important;
	position: absolute !important;
	left: 50%;
	box-sizing: border-box;
}
.v-touchkit-tabbar-toolbar .v-button-wrap:AFTER {
	background: transparent !important;
}

.v-touchkit-tabbar-toolbar .v-button.ticketstab {
	border-left: 1px solid #e7e7e7;
}

.v-touchkit-tabbar-toolbar .v-button.ticketstab {
	margin-left: -160px;
}
.v-touchkit-tabbar-toolbar .v-button.maptab {
	margin-left: -80px;
}
.v-touchkit-tabbar-toolbar .v-button.statstab {
	margin-left: 80px;
}

.v-touchkit-tabbar-toolbar .v-button.selected {
	background: #fff;
}

.v-touchkit-tabbar-toolbar .v-button span {
	color: #a09f91;
	text-shadow: none;
	margin-bottom: 9px !important;
}
.v-touchkit-tabbar-toolbar .v-button.selected span {
	color: #00b4f0;
}

/*
 * Character icon. Caption is E.g. "+" or some unicode character that is used as an icon.
 */
.add .v-button-caption:before {
	content: "+";
	font-size: 30px;
	line-height:22px;
}
.add>span {
	font-size:0;
}
.close .v-button-caption:before {
	content: "\2716";
	font-size: 20px;
	line-height:26px;
}
.close>span {
	font-size:0;
}

/*
 * Common styles
 */
.v-touchkit-verticalcomponentgroup {
	border-radius: 0;
}

.v-touchkit-navbar-caption {
	background: #fff;
	box-shadow: 0px 0px 5px #888888;
	z-index: 100;
}

.v-touchkit-navbar-caption span {
	color: #00b4f0;
	font-weight: normal;
	font-size: 25px;
}

.parkingbutton {
	font-size: 16px;
	padding: 16px 0;
	outline: none;
}

.blue {
	color: #00b4f0;
}

.textcentered {
	text-align: center;
}

/*
 * Components
 */
select {
	font-size: 16px;
	background: #fff;
	-webkit-appearance: button;
	border: none;
	outline: none;
	color: #64635a;
}

input,
textarea {
	outline: none;
	color: #64635a !important;
	font-size: 18px;
	border: none;
	margin: 10px 0 !important;
}

.v-touchkit-componentgroup-row .v-touchkit-componentgroup-cell,
.v-label-grey-title {
	color: #64635a !important;
	font-weight: normal;
	text-shadow: none;
}

.v-touchkit-componentgroup-row > .v-caption,
.v-label-grey-title:FIRST-CHILD {
	color: #a09f91 !important;
	font-weight: normal;
	text-shadow: none;
	margin: 14px 0;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.v-touchkit-datepicker {
	margin: 10px 0;
}

.v-touchkit-datepicker > input{
	-webkit-appearance: button;
	padding-left: 0;
	margin: 0 !important;
}

.v-touchkit-datepicker > div{
	margin: 0;
}
