@external about, details, birdtab, maptab, observationstab, settingstab, add, close, v-caption, v-button-caption, v-button-wrap, v-touchkit-tabbar-toolbar, v-button, selected, v-ui, shifts, v-csslayout, shiftstable, shiftsfilter, v-touchkit-verticalcomponentgroup, v-touchkit-navbar-caption, tickets, photolayout, infomationlayout;

@def darkText #3d3f41;

@sprite .about {
	gwt-image: "aboutBackground";
	background-color: white;
	width:100%;
	height:auto;
}


.details .v-caption > div {
	margin: 10px 0;
}

/*
 * Main Tab sheets icons via css
 */
 
 @sprite .birdtab:before {
	gwt-image: "birdtab";
}
 @sprite .maptab:before {
	gwt-image: "maptab";
}
 @sprite .observationstab:before {
	gwt-image: "observationstab";
}
 @sprite .settingstab:before {
	gwt-image: "settingstab";
}

/* Sizing etc for tab icons */
.v-touchkit-tabbar-toolbar .v-csslayout {
	background: #fcfcfb;
	padding: 0;
}

.v-touchkit-tabbar-toolbar .v-button:before {
	content: ".";
	display:block;
	position:absolute;
	-webkit-background-size: 25px 25px;
	background-position: center top;
	width:auto;
	left:0;
	right:0;
	height: 25px;
}

.v-touchkit-tabbar-toolbar .v-button {
	width: 80px !important;
	border-right: 1px solid #e7e7e7;
	height: 100% !important;
	border-radius: 0 !important;
}
.v-touchkit-tabbar-toolbar .v-button:FIRST-CHILD {
	border-left: 1px solid #e7e7e7;
}

.v-touchkit-tabbar-toolbar .v-button.selected {
	background: #fff;
}

.v-touchkit-tabbar-toolbar .v-button span {
	color: #a09f91;
	text-shadow: none;
}
.v-touchkit-tabbar-toolbar .v-button.selected span {
	color: #00b4f0;
}

/*
 * Character icon. Caption is E.g. "+" or some unicode character that is used as an icon.
 */
.add .v-button-caption:before {
	content: "+";
	font-size: 30px;
	line-height:22px;
}
.add>span {
	font-size:0;
}
.close .v-button-caption:before {
	content: "\2716";
	font-size: 20px;
	line-height:26px;
}
.close>span {
	font-size:0;
}

/*
 * Common styles
 */
.v-touchkit-verticalcomponentgroup {
	border-radius: 0;
}

.v-touchkit-navbar-caption {
	background: #fff;
}

.v-touchkit-navbar-caption span {
	color: #00b4f0;
	font-weight: normal;
	font-size: 25px;
}


.

/*
 * Shifts view
 */
.shifts .v-csslayout {
	padding: 0;
}

.shifts .shiftstable {
	width: 100%;
	float: left;
}
.v-ui[width-range~="801px-"] .shifts .shiftstable {
    width: 65% !important;
}

.shifts .shiftsfilter {
	width: 100%;
	float: left;
}
.v-ui[width-range~="801px-"] .shifts .shiftsfilter {
    width: 35% !important;
}


