@external v-ui, tickets, photolayout, informationlayout, noteslayout, tablet, imagepanel, parkingbutton, v-csslayout, buttonslayout, empty;

/*
 * Tickets view
 */
.tickets .photolayout {
	float: left;
	width: 100%;
}

.tickets.tablet .photolayout {
	width: 50% !important;
}

.tickets .informationlayout,
.tickets .noteslayout {
	float: right;
	clear: right;
	width: 100%;
}

.tickets.tablet .informationlayout,
.tickets.tablet .noteslayout {
	width: 50% !important;
}


.tickets .noteslayout textarea {
	border: none;
	outline: none;
	font-size: 16px;
}

.tickets .imagepanel {
	height: 150px;
	width: 150px;
	background-repeat: no-repeat;
	margin: 5px 20px 5px 0;
	float: left;
}

.tickets .buttonslayout {
	padding-left: 20px;
}

.tickets.tablet .imagepanel {
	width: 100%;
	height: 306px;
}

.tickets .photolayout .parkingbutton {
	padding: 28px 40px;
	overflow: hidden;
}

.tickets form.empty .parkingbutton,
.tickets.tablet .photolayout .parkingbutton {
	padding: 16px 0px;
}

.tickets .photolayout .v-csslayout > .parkingbutton {
	border-top: 1px solid #e5e5e5;
}

.tickets.tablet .photolayout .v-csslayout > .parkingbutton {
	border-top: none;
	float: right;
}

.tickets.tablet form {
	float: left;
}

.tickets.tablet form.empty {
	float: none;
}