@external v-ui, tickets, photolayout, informationlayout, noteslayout, tablet;

/*
 * Tickets view
 */
.tickets .photolayout {
	float: left;
	width: 100%;
}

.tickets.tablet .photolayout {
	width: 50% !important;
}

.tickets .informationlayout,
.tickets .noteslayout {
	float: right;
	clear: right;
	width: 100%;
}

.tickets.tablet .informationlayout,
.tickets.tablet .noteslayout {
	width: 50% !important;
}


.tickets .noteslayout textarea {
	border: none;
	outline: none;
	font-size: 16px;
}

